{% load static %}
<!-- navbar-->
<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-white" xmlns="http://www.w3.org/1999/html">

<div class="container">

    <a class="navbar-brand" href="{% url 'index' %} ">
    <img src="{% static 'img/a1.png' %}"  height="60" alt="جمعية البر والخدمات الاجتماعية">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">الرئيسية  <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'services' %}">مشاريع الدعم الاجتماعي</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">مشاريع وانجازات </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        من نحن
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">عن الجمعية</a>
          <a class="dropdown-item" href="#">تاريخ الجمعية</a>
            <a class="dropdown-item" href="#">الهيئة العمومية والهيكل التنظيمي </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">فروعنا </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">تبرع</a>
      </li>
    </ul>



  </div></div>
</nav>