{% extends 'base.html' %}
{%load static %}
{% block content1 %} حول الجمعية{%endblock%}
{%  block content %}
<style>
    h5,p{font-family: 'Tajawal', sans-serif;
    font-size :20px;}
    </style>




 <!-- ======= About Section ======= -->
    <section id="about" class="about" dir="rtl">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>حول الجمعية</h2>
          <p>“وَقُلِ اعْمَلُوا فَسَيَرَى اللَّهُ عَمَلَكُمْ وَرَسُولُهُ وَالْمُؤْمِنُونَ”</p>
        </div>

        <div class="row content" dir="rtl">
           <div class="col-lg-6">
            <p>
              تقوم الجمعية بتقديم الخدمات الاجتماعية ومساندة الفقراء والمحتاجين بغض النظر عن انتمائهم وعرقهم ولونهم ودينهم دون تمييز وفي إطار من الشفافية والمساواة والإنصاف بين المحتاجين لهذه الخدمات.<br>
              تقدم الجمعية إلى المحتاج كل ما يحتاجه حسب القدرة ودون أي مساس بكرامته وإنسانيته وتعتبر أن ما تقدمه حق للفقير والمحتاج وليس منّة منها أو فضل
            </p>
          </div>
          <div class="col-lg-6  pt-4 pt-lg-0">
            <p>
              جمعية خيريّة إنسانيّة ذات نفع عام مقرها في مدينة حمص السورية ولها مجموعة من الفروع في باقي المحافظات.
               تأسست عام 1956 وأشهرت تحت رقم 83/1959.
               تقوم على تبرّعات المحسنين لتوجيهها في أعمال خيرية تحارب من خلالها الجهل وتساعد الفقراء وتؤمن الرعاية الصحية للمرضى المحتاجين.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
 <!-- ======= history Section ======= -->
    <section id="hist" class="portfolio">
      <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>تاريخ الجمعية </h2>
          <p dir="rtl"><h5> بعد جلاء المستعمر الفرنسي عن سورية عام 1946 تنفّس أهالي حمص الصّعداء وانكبّوا على مجتمعهم الصّغير يقوِّمون فيه كلّ اعوجاج ويُصلِحون كلّ فساد، وأدرك أهالي حمص أنّ حياةَ الجماعةِ ليست حياة تجمُّع وليست اجتماع الفرد بالغير فحسب، بل هي تعاطفٌ وتعاونٌ وأخذٌ وعطاءٌ ومشاركة.<br><br>
ونتيجةً لهذا الوعي استطاعت مدينة حمص أن تكون سبّاقة في حلّ المشكلات الاجتماعيّة وذلك بامتداد النشاط المجتمعيّ إلى كلّ وجه من وجوه الحياة الاجتماعيّة والفرديّة، ومن نتائج هذا النشاط المجتمعيّ كانت ولادة جمعيّة البر والخدمات الاجتماعية عام 1956 وكانت هذه الولادة تعبيراً عن الإيمان بضرورة العمل الخيريّ وأهميّته في رأب الفجوة المجتمعية، وبدأت مشاريع الجمعية، حيث كانت المساعدات المقدمة للفقراء والتي كانت عبارة عن مبلغٍ صغير من المال أو كمية دقيق أو إسعاف المرضى الفقراء وإعانتهم على شراء الدواء ونتيجة لأهمية هذا الدور الذي تصدت له جمعية البرّ تم إصدار مرسوم جمهوري تحت رقم 2942 بتاريخ 1956/6/9 باعتبار جمعية البرّ والخدمات الاجتماعية ذات نفع عام ونُشر هذا المرسوم في الجريدة الرسمية بتاريخ 1956/9/27.<br><br>
<b>
“لقد قامت الجمعيّة على مفاهيم ومبادئ علميّة وعمليّة تستهدف الإفادة من العاطفة الإنسانية الخيّرة، المقرونة بالرأي والحكمة، فجاءت قوانينها وأنظمتها نخبة جليلة من قواعد البرّ والخلق والدين، إضافة إلى مجموعة هامة من أصول الخدمة الاجتماعية ونماذجها وأنواعها. كانت الفكرة الأساسية من جميع النواحي العلمية والعملية، أن الجمعية أُسّست لتبقى وتستمرّ في تأدية خدماتها، دون أن تؤثر عليها عوامل الملل والكسل، ودون أن تلعب بها الأهواء الشخصية، فتحرفها عن واجبها الصحيح الأكمل، ولذلك حرصت منذ نشأتها على أن تسلك أحدث الطرق الاجتماعية وأقومها في تنظيمها الإداري والمالي والفني حتى وصلت اليوم -بفضل الله ورعايته- إلى درجة عالية من التنظيم تُعتبر أحدث ما وصلت إليه الجمعيات العالمية في ميدان البر والخدمات الاجتماعية.
غير أنّ نظرةً عاجلة يلقيها الإنسان على أعمال هذه الجمعية ومؤسساتها في الوقت الحاضر، تعطيه فكرة عمليّة واضحة عن صهر النظريات والآراء الاجتماعية في بوتقة العمل والنشاط، وعن إيجاد تعاون مضطرد بين المُثل العليا التي ينشدها الناس في شتى عصورهم، ومراحل تطورهم، وبين الواقع الذي يعيشونه بعيداً عن تحقيق الرغبات والأماني، فقد ثبت لدى الرأي العام العالميّ، أنّ كثرة الآراء والنظريات الاجتماعية وما ينجم عنها من أصول وفروع، ليست إلا مرحلة نظرية من مراحل العمل الاجتماعي وتطور المجتمع، وفي الوقت الذي تتحول فيه هذه الآراء والنظريات إلى أعمال يلمس الناس آثارها، ويعيشون في رحاب نتائجها الباهرة، فإنّ تطور المجتمع يسلك طريقه إلى التقدم والازدهار، بحيث يصبح قدوة للأجيال، ورائداً للأمم والشعوب الأخرى.
لذا فلا غرابة إذا أخذت جمعيّة البرّ والخدمات الاجتماعيّة على عاتقها صهر المبادئ النظرية المستمدة من الدين والشرع والقانون والعُرف، في قالبِ العمل الاجتماعيّ الذي يكفل للمواطنين حياةً سعيدةً حقيقتها التعاون، وذروةُ سنامها التكافل والمساواة.”</b><br><br>

من كتاب (جمعية البر والخدمات الاجتماعية منذ نشأتها) للأستاذ عبد المجيد الطرابلسي.<br><br>

واعتمدتِ الجمعيّة في تحقيق رؤيتها ومشاريعها على ناحيتين، أولاهُما أن تكون مبادئُ الجمعية وأهدافها واضحةَ المعالم والمقاصد، بيّنةَ الطرق والنماذج أمامَ الناس، وثانيهما تهيئة الأعضاء العاملين والمؤمنين بهذه الفكرة، الإيمان الذي ينجم عنه جهوداً مفيدة ومنتجة.
وبهذه الروح البنّاءة استمرّ العمل والانتقال من مشروع إلى مشروع ومن عمل ناجح إلى آخر، حيث تمّ إنشاء دار الرعاية وتأهيل المكفوفين ذكوراً وإناثاً تحت اسم معهد تأهيل المكفوفين عام 1959.  ثمّ كان إنشاء دار العجزة لرعاية المسنين عام 1960 والتي كانت بداية العمل المؤسساتي للجمعية. ومن ثمّ أٌعدّت العدّة للقيام بمشروع خاص بالبنات الفقيرات وهو إنشاء دار الصناعات اليدوية التي تهدف إلى مساعدة بنات العائلات الفقيرة على تعلّم حرفة تساعدهنّ على مواجهة الحياة، وكان ذلك عام 1962.  ولا ننسى مكتب مكافحة التسوّل الذي بدأ عام 1970 وأخذ طابعه الرسمي بموجب قرار رقم 3671.
ونتيجةً لهذه المشاريع والسّمعة الجيّدة توسّعت الجمعيّة، وتمّ تأسيس عدّة فروع لها في المحافظات الأخرى من أهالي تلك المدن الذين آمنوا بطريقة عمل الجمعيّة وأهدافها، حيث تأسّست فروع مُشهرة وغير مُشهرة في المحافظات التالية: اللاذقية – طرطوس – إدلب – حماة – الحسكة – دير الزور.
في عام 1994 كانت النقلة النوعية للقطاع الصحي في الجمعية بافتتاح مستشفى جمعية البر في حيّ الوعر، الذي يعتبر أهمّ المشاريع الصحيّة في محافظة حمص والذي جعل من الجمعية أهمَّ مقدِّم للخدمات الصّحية الخيريّة على مستوى القطر. كما شكّلت الجمعيّة لجاناً إشرافية من أعضائها، تقوم بإدارة المشاريع وتعمل على تطويرها.<br>
واليوم فإنّ كافة لجان الجمعية ومشاريعها تتّكئ على ذلك الإرث العريق من العمل المؤسساتي الاجتماعيّ الذي أرسى دعائمه ذلك الجيل من متطوّعي جمعية البرّ والخدمات الاجتماعية الأوائل.<br><br>

الجمعيّة ودور الشباب: في عام 2006، عملت الجمعيّة على تفعيل دور الشباب في العمل الخيريّ والإنسانيّ استجابةً للحالة الإنسانية العاجلة التي شهدتها منطقة القصير بريف حمص إثر الحرب التي جرت في لبنان حيث تمّ تقديم العون والمساعدة للّاجئين اللّبنانيّن.
ونتيجة لأهميّة دور الشباب وعملهم التطوّعي تمّ تأسيس لجنة العمل الطوعي لتقوم بتأهيل كوادرها لتشمل نشاطاتها مبادرات مجتمعية شبابيّة تُعنى بالتعليم والتنمية والتربية والدعم النفسي والاجتماعي والعمل الإغاثي وجلسات التوعية لمعالجة التدخين ونظافة المدينة وغيرها من المبادرات الشبابية المجتمعية فمثلاً  حملاتٌ توعويّة عن أهميّة الإقلاع عن التدخين حيث تمّ تنظيم مسيرتين في عامين متتاليين في مدينة حمص لمكافحة التدخين، واستجابةً للحملات المتكرّرة تمّ إصدار مرسوم رئاسيّ ينصّ على منع التدخين في الأماكن العامة والمغلقة.
-مبادرة “إفطار صائم” التي تهدف إلى مساعدة العائلات: مبادرة “إفطار صائم” التي تهدف إلى مساعدة العائلات الأشد ضعفاً وتقديم العون لهم عن طريق تعبئة المعونات الغذائية وتوضيبها وتوزيعها لهم بصورة حضارية.
-مبادرة “خيمة رمضان” التي كانت تقام منذ عام 2008 تتضمن فعاليات ثقافية وتوعوية تسلط الضوء على بعض المشاكل المجتمعية وتحديات العصر، وطرح الحلول المناسبة لها بمشاركة مختصين وخبراء.<br><br>

مع بداية الأزمة السورية تدخلت لجنة العمل الطوعي عند عملية النزوح لتهتمّ بالأطفال في مراكز الإيواء عبر أنشطة تعليمية ودعم نفسي.
حالياً تقوم اللجنة بتنظيم وتوجيه الطاقات الطوعية للشباب وتمكينهم من خلال أعمال خيرية ذات طابع اجتماعي وثقافي وعلمي وحضاري، وتشرف على مشاريع أهمها: غراس وسند، ومبادرات شبابية: كاقرأ كتابي، مفاضلتي أسهل، منصة 15MIN، مبادرات رمضان، تنظيف الحدائق، بيت الله هو الأغلى، كما تشرف على فرق المتطوّع اليافع والمستقبل.</h5></p>
        </div>
      </div>
    </section><!-- End history Section -->


{% endblock%}