{% extends 'base.html' %}
{%load static %}
{% block content1 %} المشاريع والفعاليات{%endblock%}
{%  block content %}
<!-- ======= project Section ======= -->
    <section id="project" class="services section-bg" dir="rtl">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>الفعاليات و المشاريع</h2>
          <p>تتنوع أعمال جمعية البر والخدمات الاجتماعية في محافظة #حمص، وفق المجالات التالية:</p>
          <div class="row">
          <div class="col-lg-6">
          <ul>
              <li><i class="ri-check-double-line"></i> المشاريع الخيرية، وهذه المشاريع تعمل من خلال تبرعات ودعم أهل الخير، مثل [مشروع دعم العائلات الفقيرة وكفالة اليتيم ضمن عائلته، مشروع كفالة طالب العلم الجامعي، مكتب مكافحة التسول، صندوق البر للصحة...]</li>
              <li><i class="ri-check-double-line"></i>المؤسسات الصحية، تقدم الرعاية الصحية مجاناً أو بأجور منخفضة [مستشفى جمعية البر في حي الوعر، مستشفى الكندي، مستوصف د.أنيس المصري في الحميدية، العيادات التخصصية في الحمرا، مركز البر للتصوير ثلاثي الأبعاد للفكين والأسنان، دار السعادة لرعاية المسنين ..]</li>
              <li><i class="ri-check-double-line"></i>الأعمال التطوعية، وهي أعمال تهدف إلى تشجيع العمل التطوعي عبر تقديم الخدمات الاجتماعية المتنوعة وتمكين الشباب واليافعين، مثل [ مبادرات رمضان، مكتبة اقرأ كتابي ،]  المبادرات الموسمية مثل مفاضلتي أسهل</li>
              <li><i class="ri-check-double-line"></i>المشاريع بالتعاون مع المنظمات الدولية، وهذه المشاريع استجابة طارئة تكون محددة المدة وبدعم من قبل المنظمات الدولية، مثل [مشروع السلة الغذائية بالتعاون مع برنامج الأغذية العالمي، مشروع العيادات المتنقلة في ريف حمص الشمالي بالتعاون مع منظمة الصحة العالمية(انتهى هذا المشروع)...]</li>
              <li><i class="ri-check-double-line"></i>مشاريع تنمية الموارد المالية ، و هي مشاريع استثمارية ضمن مدينة حمص تهدف لتامين دخل للجمعية لدعم أعمالها الخيرية ، [مطعم و صالة شبابيك ، صالات الأفراح...............]</li>

            </ul>
        </div>
        <div>
          <img src="{% static 'assets/img/111.jpg' %}" width="500" height="300">
        </div>
      </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/home.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">سكن الطالبات</h5>
                    <p class="card-text">مراكز سكنية تؤمنها جمعية البرّ للطالبات الوافدات من مختلف المحافظات للدراسة في جامعات مدينة حمص.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
           <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/hosp.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">العيادات التخصصية</h5>
                    <p class="card-text">افتتحت جمعية البر عدداً من العيادات والمراكز الطبية طبقاً للاحتياج في مدينة حمص وريفها وهي تقدم خدمات الرعاية الصحية اللازمة لكافة المواطنين بأجور التكلفة.
                    و هي تشمل التخصصات التالية: أطفال، نسائية، داخلية، عينية، مخبر، صيدلية للعائلات، قسم نظارات طبية.
                    </p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/org1.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">مشاريع مع المنظمات الدولية</h5>
                    <h5 class="card-title"><b>(منظمة الصحة العالمية)</b></h5>
                    <b class="card-title">2016-2017</b>
                    <p class="card-text">توفير الخدمات الطبية والرعاية الصحية للسكان المتضررين من مدينة السلمية وريفها</p>
                    <b class="card-title">2017-2018</b>
                    <p>
                      تعزيز توفير مجموعة أساسية من خدمات الرعاية الصحية المتكاملة للأشخاص المتضررين والنازحين داخليا في محافظة حمص
                    </p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/book.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">مكتبة اقرأ كتابي</h5>
                    <p class="card-text">انطلق مشروع اقرأ كتابي من الإيمان بأهمية وجود مجتمع قارئ للنهوض بالواقع كأفراد ومجتمعات، وتحقيقاً لفكرة أحد المتطوعين، عبر مكتبة تعرض فيها الكتب -على اختلاف مواضيعها وأنواعها- المقدمة من أهل الخير على سبيل الإعارة أو الوقف بحيث تتيح المجال لطالبي المعرفة ولمحبي القراءة للقيام باستعارتها، بالإضافة إلى فعاليات وورشات ونشاطات متنوعة، تصب في تحقيق أهداف المشروع الساعية إلى استهداف شرائح المجتمع كافة وتنمية وتعزيز الميول الثقافية والمعرفية بما يصب في زيادة إنتاجيتهم كأفراد فاعلين في المجتمع.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/bild.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">مراكز الإيواء</h5>
                    <p class="card-text">أقيمت مراكز إيواء للنازحين من المناطق الساخنة إلى المناطق الأكثر أمناً تلبية للحاجة التي استدعتها الأحداث في البلاد عام 2011، لتؤمّن لهم المأوى والحاجات الأساسية اللازمة للعائلات (سلات غذائية ولا غذائية، سلات صحية، مساعدات طبية، طبخ، خدمات أخرى)
ساهمت المنظمات الإنسانية في دعم مراكز الإيواء، بدءاً بمنظمتيّ DRC و IOM ثمّ جاءت المفوضية السامية للأمم المتحدة لشؤون اللاجئين UNHCR لتقدم الدعم.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="width: 18rem;">
               <img src="{% static 'assets/img/cards/happ.jpg' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5 class="card-title">صالة النور</h5>
                    <p class="card-text">تتسع لـ200 شخص تقريباً، بمساحة 250 م2، مخصصة بشكل أساسي لاستقبال كافة المناسبات الاجتماعية واللقاءات المختلفة سواءً الأعراس أو الندوات أو الورشات أو حتى الاجتماعات المهمة.
                    يذكر أنها توقفت عن العمل بسبب أحداث عام 2011 وتم إعادة تأهيلها وافتتاحها.و هي تقع في حي الحميدية – بناء جمعية البرّ – خلف مستوصف الدكتور أنيس المصري</p>
                </div>
             </div>
          </div>

        </div>

      </div></div>
    </section><!-- End project Section -->

{% endblock%}